
// Color
$white: #ffffff;
$light-pink: #EBB9B8;
$primary: #585292;

// Background Color
$app-surface: #D1D0D9;
$card-surface: #F5F5F5;
$progress-card-surface: #E07C7C;
$progress-bar-surface: #3B3B3B;

// Border Radius
$default-rounded: 20px;
$small-rounded: 10px;

// Shadow
$default-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);